.esqueciSenha{
    margin: auto;
    text-align: right;
}

.text-alert{
    color: white;
}

#description{
    width: 250px;
    height: 180px;
}


.logo{
    width: 80px;
    height: 80px;
    background-color: #000;
    color: #FFF;

    /* Agora a mágica */
    border-radius: 50%;
}

.avatar{
    width: 60px;
    height: 60px;
    background-color: #000;
    color: #FFF;

   /* Agora a mágica */
   border-radius: 50%;
}

.showLogo{
    margin-top: 10px;
}
