.esqueciSenha{
    margin: auto;
    text-align: right;
}

.text-alert{
    color: white;
}

.brand{
    height: 80px;
}

#description{
    width: 250px;
    height: 180px;
}


.logo{
    width: 50px;
    height: 50px;
    margin-left: 5px;
    color: #FFF;

    /* Agora a mágica */
    border-radius: 50%;
}

.avatar{
    margin-top: 18px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    color: #FFF;

    /* Agora a mágica */
    border-radius: 50%;
}

.seeAvatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.showAvatar{
    margin-top: 10px;
    width: 80px;
    height:80px;
    border-radius: 50%;
    margin-left: 40px;
}

.showLogo{
    margin-top: 10px;
    width: 80px;
    height:80px;
    border-radius: 50%;
}

.positionBadge{
    float: left;
}

.carouselImg{
    max-width: 100%;
    width: 900px;
    height: 300px;
    object-fit: cover;
}
